// opacity modified
@mixin waitShow {
    animation-name: wait;
    animation-duration: 1.5s;
    animation-direction: normal;
}

@keyframes wait {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@mixin effect-light-moveY {
    -webkit-animation: light 1.5s ease-in-out;
    animation: light 1.5s ease-in-out;
}

@keyframes light {
    0% {
        opacity: 0;
        text-shadow: 2px 0 10px rgb(250, 248, 248);
    }

    100% {
        text-shadow: 0 0 0 rgb(250, 248, 248);
    }
}

.solarise {
    -webkit-animation: listeFiche 3s ease-in-out;
    animation: listeFiche 3s ease-in-out;
}

@keyframes listeFiche {
    FROM {
        text-shadow: 2px 0 10px rgb(243, 206, 179);
    }

    TO {
        text-shadow: 0 0 0 rgb(230, 184, 151);
    }
}

@mixin moveText-X {
    animation: moveX 2s;
}

@keyframes moveX {
    FROM {
        transform: translateX(-100vw);
    }

    TO {
        transform: translateX(0);
    }
}

@mixin moveText-Y {
    animation: moveY 1s;
}

@keyframes moveY {
    FROM {
        transform: translateY(-100px);
    }

    TO {
        transform: translateY(0);
    }
}

@mixin login {
    animation-name: login;
    animation-duration: .9s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes login {
    to {
        filter:invert(0.5);
    }
    from {
        filter:invert(1);
    }
}