/* ******************************************************* 
                      THEMES COMMUN                    
******************************************************* */
@import "node_modules/rfs/scss";

h1 {
    font-family: 'Tangerine', cursive;
    @include font-size(6rem);
}

h2,h3,h4,h5,p{
    font-family: 'Libre Baskerville', serif;
}

h2 {
    @include font-size(2rem);
}

h3,
h4 {
    @include font-size(1rem);
}

h5 {
    @include font-size(1.5rem);
}

p {
    @include font-size(1.2rem);
    line-height: 1.5em;
}

// Arriere plan image ou color plein écran
.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.bgColor--blackLight{
    background-color: rgba(0, 0, 0, 0.3);
}
.txtShadow--dark{
    text-shadow: 1px 1px 3px #000000 ;
 }

 .txtShadow--white{
    text-shadow: 1px 1px 3px #ffffff;
 }

.txtShadow{
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
}

.ftSize--medium{
font-size: 2.5em;
}
 
// ombrage des vignettes
.box-shadow-down {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
