.member {
    @include waitShow;

    &__bg-img {
        background-image: url("/assets/images/foret/foret-4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: blur(5px);
                filter: blur(5px);
    }
}