.erreur {
    @include waitShow;
    height: 100vh;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.4);

    &__title {
        font-family: 'Libre Baskerville',
            serif;

        color: white;
    }

    &__bg--img {
        background-image: url("/assets/images/foret/foret-5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}