.footer
{
     // background: linear-gradient(to right,  rgba(54, 60, 42,0.9) 0%, rgba(229, 249, 217,0.8) 100%);
     // background: linear-gradient(to right,  rgba(32, 42, 30,0.9) 0%, rgba(32, 42, 30,0.7) 100%);
     background-color: rgba(255, 255, 255,0.2);

     li{
          color:white;
          font-family: 'Roboto', sans-serif;
          font-size: 0.9em;
          letter-spacing: 0.5px;
          font-weight: 700;
          text-shadow: 2px 1px 1px rgb(0, 0, 0);
      }

      a:hover {
          transition: 0.3 letter-spacing;
          letter-spacing: 0.5px;
     }
     &__info{
          p{
          color:rgb(160, 158, 158);
          font-family: 'Roboto', sans-serif;
          font-size: 0.9em;
          }
          &--bg-color{
                background-color:rgba(32, 42, 30,0.7);
          }

     }  
}

