// Dépendance 
// @import "../node_modules/rfs/scss";
@import "animate";


.home {
    @include waitShow;
    min-height:70vh;

        
    &__bg--color{
        background-color: rgba(0, 0, 0, 0.3);
    }

    &__video-bg {
        position: fixed; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background-size: cover;
    }

    h1 {
        letter-spacing: 10px;
        font-weight: 700;
        text-shadow: 2px 1px 5px rgb(0, 0, 0);
        @include effect-light-moveY;
    }

    h2 {
        font-family: 'Tangerine', cursive;
        letter-spacing: 8px;
        text-shadow: 2px 1px 5px rgb(0, 0, 0);
        font-size: 3.5em;
        line-height: 1.2em;
        @include moveText-X;
    }
}

@media screen and (max-width: 575px) {
    
    .home {
        
        min-height:90vh;

        h2{
            font-size: 2.2em;
            line-height: 1.5em;
            letter-spacing: 0.1em;
        }

        // BLOCK VIDEO
        &__video-bg {
            display:none;
        }
        &__opacity{
            display:none;
        }

        // image de fond mobile
        &__bg--image {
            background-image: url("/assets/images/foret/home-sm.png");
            position: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        } 
        // FIN BLOCK VIDEO
    }
}


