/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.book {
    &__bg {
        background-image: url("/assets/images/foret/foret-3.jpg");
        -webkit-filter: blur(2px);
                filter: blur(2px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -100;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__card {
        width: 20rem;
        position: relative;
        background: -webkit-gradient(linear, left top, right top, from(rgba(146, 163, 143,0.7)), color-stop(50%, rgba(251, 251, 251, 0.9)), to(rgba(146, 163, 143,0.7)));
        background: -o-linear-gradient(left, rgba(146, 163, 143,0.7) 0%, rgba(251, 251, 251, 0.9) 50%, rgba(146, 163, 143,0.7) 100%);
        background: linear-gradient(to right, rgba(146, 163, 143,0.7) 0%, rgba(251, 251, 251, 0.9) 50%, rgba(146, 163, 143,0.7) 100%);
        padding: 2em 2em 0 2em;
        margin: 20px 10px 20px 10px;
        z-index: 100;
        border-radius: 10px;


        a {
            text-decoration: none;
        }

        &__eat {
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            z-index: 200;
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;

            &__img {
                height: 50px;
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
            }
        }

        &__bloc-img {
            position: relative;
            overflow: hidden;
            border-radius: 10px;

            &__opacity {
                position: absolute;
                z-index: 150;
                width: 100%;
                height: 100%;
                -webkit-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
            }

            &__image {
                width: 100%;
                -webkit-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
            }
        }

        &__titre {
            height: 100px;

            &--color {
                color: #665326;
            }
        }

        &:hover {
            background: -webkit-gradient(linear, left top, right top, from(rgba(121, 136, 119,0.7)), color-stop(50%, rgba(251, 251, 251, 0.9)), to(rgba(121, 136, 119,0.9)));
            background: -o-linear-gradient(left, rgba(121, 136, 119,0.7) 0%, rgba(251, 251, 251, 0.9) 50%, rgba(121, 136, 119,0.9) 100%);
            background: linear-gradient(to right, rgba(121, 136, 119,0.7) 0%, rgba(251, 251, 251, 0.9) 50%, rgba(121, 136, 119,0.9) 100%);

            .book {
                &__card {
                    &__bloc-img {
                        &__opacity {
                            background-color: rgba(0, 0, 0, 0.4);
                        }

                        &__image {
                            -webkit-transform: scale(1.2);
                                -ms-transform: scale(1.2);
                                    transform: scale(1.2);
                        }
                    }

                    &__eat {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
// modifie la largeur des marges droite et gauche
@media screen and (min-width: 992px) {
    .book {
        padding: 0 10% 0 10%;
    }
}