.logger {

    &__bg--image {
        background-image: url("/assets/images/foret/foret-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }
}