<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide des champignons - base de données collaborative !</title>
    <meta name="description" content="Reconnaître facilement un champignon comestible ? Trouvez ces informations sur le guide des champignons. Participer à l'élaboration d'une base de données interactive."/>
</head>

<body>
    <h1>Conditions Générales d'utilisation du Guide des Champignons</h1>
    <h3>Détails</h3>
    <p>L’objet de la présente Politique de protection des données à caractère personnel est de présenter la manière dont ..., ci-après dénommée ..., en tant que Responsable de traitements de données, peut être amenée à collecter...</p>

    <h4>1. PRINCIPES CLES</h4>
    <p>
    RE attache une grande importance à la protection et au respect de la vie privée de ses Utilisateurs. C’est pourquoi RE a mis en place des mesures afin d’assurer la confidentialité et la sécurité des données à caractère personnel de ses Utilisateurs. </p>
    
    <p>... s’efforce de maintenir des hauts standards de sécurité et de confidentialité pour les utilisateurs de sa plateforme. ... s’engage à agir au mieux de l’intérêt de ses utilisateurs, d’une manière honnête, équitable et professionnelle.</p> 
    
    <p> ... assure aussi de répondre en toute transparence à ses utilisateurs et de leur fournir des informations correctes, claires et non trompeuses.</p>
</body>
</html>
