<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide des champignons - base de données collaborative !</title>
    <meta name="description" content="Reconnaître facilement un champignon comestible ? Trouvez ces informations sur le guide des champignons. Participer à l'élaboration d'une base de données interactive."/>
</head>
<body>
 <h1>Mentions Légales</h1>
 <h3>Le site Guide des champignons est édité par Eric Lanza</h3>
 <p>Objectif et qualité des contenus :
    Ce site a pour objectif de présenter au grand public, ... de fournir une information de qualité et vérifiée. Toutefois si une information semble inexacte ou contient une erreur typographique, n’hésitez pas à le signaler en nous contactons par email.</p>
    <p>Utilisation de la marque ... : <br>
        La marque verbale et visuelle (logos et infographies) ... (et ses déclinaisons), sont protégées. <br>
        Leur utilisation sans autorisation écrite de ..., sur tout support, à des fins de valorisation de produits ou de services, notamment à des fins commerciales, est interdite sous peine de poursuites pénales et civiles. <br>
        Pour toute utilisation, merci de contacter notre équipe par email et nous serons ravis de vous répondre rapidement :contact@....com
        Réutilisation des contenus : </p>
        <p>Sauf mention contraire, la réutilisation des contenus de ... est soumise aux règles précisées ci-dessous.</p>
        
</body>
</html>