<!DOCTYPE html>
<html lang="fr">
	<head>
		{% include 'includes/head.html.twig'%}
		<title>
			{% block title %}{% endblock %}
		</title>

		<!-- meta description-->
		<link rel="shortcut icon" type="image/x-icon" href="/assets/icones/logo.png" />
		{% block meta %}{% endblock %}

		<!-- SEO opengraph -->
		<meta property="og:locale" content="fr_FR"/>
		<meta property="og:type" content="website"/>
		{% block og %}{% endblock %}
	</head>
	<body>
		<div class="default">
			<header>
				{% include 'includes/navbar.html.twig' %}
			</header
			<main>
				{% block body %}{% endblock %}
			</main>
			<footer>
				{# {% if title!='' %} #}
				 {% include 'includes/footer.html.twig'%}
				 {# {% endif %} #}
			</footer>
			{% include 'includes/script.html.twig' %}
		</div>
	</body>
</html>
