<!DOCTYPE html>
<html lang="fr">
	<head>
		{% set url = 'https://petit-guide-des-champignons.000webhostapp.com' %}
		<!-- Codage des caractéres  -->
		<meta charset="UTF-8">

		<!-- contrôler la mise en page sur les navigateurs mobiles -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- information sur l'auteur et copyright  -->
		<meta name="author" content="Eric Lanza" />
		<meta name="copyright" content="copyright2020©Lanza" />

		<!-- liens vers le CDN de Google font -->
		<link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">

		<!-- lien vers le fichier css  -->
		<link rel="stylesheet" href="/assets/css/main.css">

		<!-- Titre de la page  -->
		<title>
			{% block title %}{% endblock %}
		</title>

		<!-- meta description -->
		<link rel="shortcut icon" type="image/x-icon" href="/assets/icones/logo.png" />
		{% block meta %}{% endblock %}

		<!-- autoriser l'indexation par les moteurs de recherche -->
		<meta name="robots" content="index">

		<!-- SEO opengraph -->
		<meta property="og:locale" content="fr_FR"/>
		<meta property="og:type" content="website"/>
		{% block og %}{% endblock %}
	</head>
	<body>
		<section class="d-flex flex-column default">
			<header>
				{% include 'includes/navbar.html.twig' %}
			</header>

			<main class="flex-grow-1">
				{% block body %}{% endblock %}
			</main>

			<footer>
				{% include 'includes/footer.html.twig'%}
			</footer>

			{% include 'includes/script.html.twig' %}
		</section>
	</body>
</html>
