{% extends "default.html.twig" %}

{% block title %}
    Guide des champignons - base de données collaborative !
{% endblock %}
{% block meta %}
    <meta name="description" content="Reconnaître facilement un champignon comestible ? Trouvez ces informations sur le guide des champignons. Participer à l'élaboration d'une base de données interactive."/>
{% endblock %}
{% block og %}
    <meta property="og:title" content="Guide des champignons - base de données interactive !"/>
    <meta property="og:description" content="Reconnaître facilement un champignon comestible ? Trouvez ces informations sur le guide des champignons. Participer à l'élaboration d'une base de données collaborative."/>
    <meta property="og:url" content="{{url}}/index.php?routing=portail"/>
    <meta property="og:image" content="{{url}}/assets/icones/logo.png"/>
    <meta property="og:image:width" content="150"/>
    <meta property="og:image:height" content="150"/>
{% endblock %}

{% block body %}
<div class="background home__bg--image"></div>
{# Video #}
<video class="home__video-bg" autoplay="true" loop muted  controls="controls">
    <source src="/assets/video/bg-video.mp4" type="video/mp4">
    <source src="/assets/video/bg-video.webm" type="video/webm">
</video>
<div class="background home__bg--color"></div>

<div class="container-fluid d-flex flex-column justify-content-around align-items-center home">
    <div class="row">
        <section class="col">
            <h1 class="text-center text-white p-2 p-lg-5">Champignons de nos régions</h1>
        </section>
    </div>
    <div class="row">
        <section class="col">
            <a href="index.php?routing=se-connecter" style="text-decoration:none;"><h2 class="text-white text-center p-2 p-lg-5">Participez à l'élaboration d'une base de données interactive et
                évolutive.</h2></a>
        </section>
    </div>
</div>
{% endblock %}