
{% extends "default.html.twig" %}

{% block title %}
	Connexion
{% endblock %}

{% block meta %}
    <meta name="description" content="Connectez-vous et participer à l'élaboration d'une base de données interactive.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Guide des champignons - Connexion">
    <meta property="og:description" content="Connectez-vous et participer à l'élaboration d'une base de données interactive.">
    <meta property="og:url" content="/index.php?routing=se-connecter">
    <meta property="og:image" content="{{url}}/assets/icones/logo.png"/>
    <meta property="og:image:width" content="150" />
    <meta property="og:image:height" content="150" />
{% endblock %}

{% block body %}
	<div class="background logger__bg--image"></div>
	<div class="background bgColor--blackLight"></div>
	<div class="container py-2">
		<div class="row d-flex justify-content-center p-2">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6 bg-greenLight text-white p-3 rounded">
				<form class="border p-2" action="index.php?routing=connexion" method="POST">
					<div class="d-flex justify-content-between">
						<h3 class="font-weight-bold">Connexion</h3>
						<a href="index.php?routing=creer-mon-compte" class="h4 font-italic">S'inscrire</a>
					</div>
					<div class="form-group">
						<h4 class="text-info">{{erreur}}</h4>
					</div>
					<div class="form-group">
						<label for="inputnPseudo">Pseudo</label>
						<input type="text" class="form-control" name="pseudo" id="inputnPseudo" aria-describedby="emailHelp" required>
						 {# TODO renvoyer un message sous le champ #}
                    {# <small id="pseudoHelp" class="form-text text-warning">{{infoPseudo}}</small> #}
					</div>
					<div class="form-group">
						<label for="inputPassword">Mot de passe</label>
						<input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" class="form-control" id="inputPassword" aria-describedby="passwordHelpBlock" required>
						<small id="pseudoHelp" class="form-text text-muted"> 6 caractères minimum, au moins 1 chiffre et 1 lettre majuscule et 1 lettre minuscule</small>
						<small id="passwordHelpBlock" class="form-text text-warning">{{infoMotPasse}}</small>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-light">Connexion</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
 {# pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" #}
{# pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,15})$" #}
