{% extends "default.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block meta %}
    <meta name="description" content="Créer votre compte et participer à l'élaboration d'une base de données interactive.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Guide des champignons - Inscription">
    <meta property="og:description" content="Créer votre compte et participer à l'élaboration d'une base de données interactive.">
    <meta property="og:url" content="/index.php?routing=creer-mon-compte">
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="Guide des champignons - Inscription"/>
    <meta name="twitter:description" content="Créer votre compte et participer à l'élaboration d'une base de données interactive."/>
{% endblock %}

{% block body %}
<div class="background logger__bg--image"></div>
<div class="background bgColor--blackLight"></div>
<div class="container py-2">
    <div class="row d-flex justify-content-center p-2">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 bg-greenLight text-white p-3 rounded">
            <form class="border p-2" action="index.php?routing=creation-du-compte" method ="POST">
                <div class="d-flex justify-content-between">
                    <h3 class="font-weight-bold">Inscription</h3>
                    <a href="index.php?routing=se-connecter" class="h4 font-italic">Se connecter</a>
                </div>
                <div class="form-group">
                    <h4 class="text-info">{{erreur}}</h4>
                </div>
                <div class="form-group">
                    <label for="inputPseudo">Pseudo</label>
                    <input type="text" class="form-control" name="pseudo" id="inputPseudo" aria-describedby="pseudoHelp" placeholder="Ex : Camille" value="{{pseudo}}" required>
                    <small id="pseudoHelp" class="form-text text-warning">{{infoPseudo}}</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  class="form-control" id="inputPassword" aria-describedby="passwordHelpBlock" required>
                    <small id="pseudoHelp" class="form-text text-muted"> 6 caractères minimum, au moins 1 chiffre et 1 lettre majuscule et 1 lettre minuscule</small>
                    <small id="passwordHelpBlock" class="form-text text-warning">{{infoPassword}}</small>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-light">Inscription</button>
                </div>
            </form>
        </div>
    </div> 
</div>

{% endblock %}
{# pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" #}
